.card {
    height: 30%;
    width: 90%;
    min-height: 150px;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: solid 1px rgb(226, 224, 224);
    border-radius: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 20%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(146, 146, 228);
}

.card-title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 100%;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 85%;
    height: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    margin-left: 2%;
}

.card-options-container {
    display: block;
    height: 100%;
    width: 10%;
}

.card-options {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.card-description-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    background-color: rgb(146, 146, 228);
}

.card-description {
    display: flex;
    text-align: center;
    height: 95%;
    width: 95%;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-footer {
    height: 20%;
    width: 100%;
    background-color: rgb(146, 146, 228);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-list-options {
    display: none;
    align-items: start;
    justify-content: start;
    padding: 0px 0px 0px 5px;
    width: 165px;
    height: 120px;
}

.card-options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    row-gap: 1px;
    background-color: white;
    border: solid 1px rgb(226, 224, 224);
    border-radius: 5px;
    list-style: none;
    padding-inline-start: 0px;
    z-index: 1;
}

.card-option-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 15%;
}

.card-option-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    height: 90%;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: rgb(156, 156, 156);
    outline: none;
}

.card-option-button:hover {
    background:  rgba(130, 130, 224, 0.4);
    color: white;    
}