.earth {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: radial-gradient(circle, #0066cc 40%, #004080 100%);
  border-radius: 50%;
  height: 10%;
  width: 11%;
  transform: translate(-70%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
}

/* Simulando continentes */
.continent {
  position: absolute;
  background-color: #228B22; /* Verde para representar terras */
  border-radius: 50%;
  opacity: 0.8;
}

/* Continentes individuais com diferentes posições e tamanhos */
.continent-1 {
  height: 30%;
  width: 20%;
  top: 20%;
  left: 10%;
  transform: rotate(30deg);
}

.continent-2 {
  height: 25%;
  width: 18%;
  bottom: 15%;
  right: 8%;
  transform: rotate(-40deg);
}

.continent-3 {
  height: 15%;
  width: 10%;
  top: 50%;
  right: 20%;
  transform: rotate(60deg);
}
