.jupiter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    to right,
    #d9b88a 10%,
    #d9a35b 15%,
    #d9b88a 25%,
    #d9b24a 35%,
    #d9862e 45%,
    #d98b3a 55%,
    #c97629 65%,
    #d99855 75%,
    #d9a35b 85%,
    #d9b88a 95%
  );
  border-radius: 50%;
  height: 11%;
  width: 13%;
  transform: translate(-20%, -170%);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Ponto da Grande Mancha Vermelha de Júpiter */
.jupiter::before {
  content: '';
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 15%;
  height: 10%;
  background-color: #b24502;
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
