.Keyboard {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 95%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  row-gap: 4px;
  column-gap: 4px;
  padding: 2% 2% 2% 2%;
}