@media (max-width: 480px) {
  body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100vh;
    width: 100%;
  }

  .calculator {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 90%;
    background: white;
    border-radius: 10px;
  }
}